---
interface Props {
    name: string;
    classId: string;
    groupId: string;
}

const { groupId, classId, name } = Astro.props;

import { db } from "@/../db";
import * as schema from "@/schema";
import {and, eq} from 'drizzle-orm';

const questions = await db.query.dxQuestion.findMany({
    where: and(
        eq(schema.dxQuestion.class_id, classId),
        eq(schema.dxQuestion.group_id, groupId),
    )
});
---

<li class="bg-lilac-500 flex flex-col cursor-pointer group text-white border-b border-lilac-600" id={"group-row-" + groupId}>
    <input type="checkbox" id={`toggle-${groupId}`} class="peer hidden" />
    <label for={`toggle-${groupId}`} class="flex justify-between items-center w-full pt-4 px-2 text-left text-lg font-medium cursor-pointer" >
        <p>{"Grupo de " + name}</p>
        <p>{"Sin entregar"}</p>
    </label>
    <div class="max-h-0 flex flex-col overflow-hidden transition-all duration-500 ease-in-out peer-checked:max-h-96" >
        <a href=`/class/${classId}/group/${groupId}`
            class="group-card text-sm font-semibold text-center hover:animate-bounce"
        >
            Ir al Quiz
        </a>
        <div class="overflow-y-auto">
            <table class="text-sm w-full text-left text-white bg-lilac-400">
                <thead class="text-xs uppercase border-b border-lilac-500">
                    <tr>
                        <th scope="col" class="py-2 px-1">Pregunta</th>
                        <th scope="col" class="py-2 px-1">Respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    {questions.map((q) => (
                    <tr class="rounded-lg border-b border-lilac-500">
                        <td class="py-2 px-1">
                            {q.question}
                        </td>
                        <td class="py-2 px-1">
                            {q.dx_answer}
                        </td>
                    </tr>
                    ))}
                    <!-- Aquí se agregarán dinámicamente las filas -->
                    <p id="empty-message" class="text-lg font-semibold text-gray-500 text-center my-auto hidden">Escribir la primera pregunta derivada formulada durante esta clase</p>
                </tbody>
            </table>
        </div>
    </div>
    <label for={`toggle-${groupId}`} class="cursor-pointer text-center group-hover:animate-bounce group-hover:peer-checked:animate-none peer-checked:rotate-180 transition-transform duration-500"> ▲ </label>
</li>
